h1 {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 300;
  color: #9599FF;
}

p {
  font-family: 'Special Elite', cursive;
}

body {
  background-color: #87F0FF;
}

table {
  color: #E2FFE8;
  border-spacing: 40px;
}

tr {
  text-align: center;
}
