h1 {
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 80px;
  color: #FFFFFF;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  color: #7DCD85;
}

p {
  font-family: 'Special Elite', cursive;
  color: #778472;
}

body {
  background-color: #393D3F;
}

table {
  color: #546A7B;
  border-spacing: 40px;
}

tr {
  font-style: 'Baloo Tamma', cursive;
  text-align: center;
  font-size: 30px;
}
